.App {
  
  text-align: center;
  font-family: Courier New
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map{
  text-align: center;
  margin: auto;
 
}

.title{
  text-align: center;
  color: white;
}

.info{
  color: white;
  border: solid;
  border-width: thin;
  border-color: rgb(44, 44, 44);
  background-color: rgba(33, 34, 34, 0.527);
  padding-top: 2px;
  margin: auto;
  margin-bottom: 15px;
  
  
}
.visible{
  visibility: hidden;
  
}
.visible:after{
  visibility: visible;
  content: 'by, Elvis Bueno a software engineer from Tennessee. "Software and cathedrals are much the same – first we build them, then we pray."';
  color: white;
  margin: auto;
  font-size: small;
  
}

button{
  margin:5px;
}
.logo{
  padding-top: 2px;
  position:absolute;
  left:0;
  top:0;

}
